.card {
  cursor: pointer;
  overflow: hidden;
  text-decoration: none !important;
  color: var(--secondary) !important;
  outline: none !important;
  transition: color 0.3s;
}

.card-header {
  overflow: hidden;
  z-index: 3;
}

.card-image {
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--placeholder-bg);
}

.card-body {
  border-top: 5px solid var(--primary);
  transition: color 0.3s;
  position: relative;
  height: 98px;
}

.card-body::before {
  background: var(--primary);
  bottom: 100%;
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  width: 100%;
  z-index: -1;
}

.card-data {
  z-index: 3;
}

.card-title {
  font-size: 16px !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-text {
  font-size: 13px !important;
  font-weight: 300;
}

.card:hover .card-body::before {
  transform: translate3d(0, 100%, 0);
  z-index: 2;
}

.card:hover .card-image {
  transform: scale(1.1);
  transition: all 0.5s;
}
