.card-list {
  display: grid;
  justify-content: start;
  grid-gap: 18px;
  grid-template-columns: repeat(6, minmax(200px, 1fr));
  transition: all 0.5s;
  overflow-x: hidden !important;
}

.card-list.size-2xl {
  grid-template-columns: repeat(6, minmax(200px, 1fr));
}

.card-list.size-xl {
  grid-template-columns: repeat(5, minmax(200px, 1fr));
}

.card-list.size-lg {
  grid-template-columns: repeat(4, minmax(200px, 1fr));
}

.card-list.size-md {
  grid-template-columns: repeat(3, 1fr);
}

.card-list.size-sm {
  grid-template-columns: repeat(3, 1fr);
}

.card-list.size-xs {
  grid-template-columns: repeat(2, 0.5fr);
}
