.form {
  width: 100%;
  max-width: 450px;
}

.form-control {
  outline: none;
  border-color: var(--placeholder-bg) !important;
}

.form-control:focus {
  box-shadow: none !important;
  border-color: var(--placeholder-bg) !important;
}
