body,
.main-container {
  --primary: #f5b300;
  --primary-light: #f6d056;
  --secondary: #212529;
  --secondary-light: #51556f;
  --placeholder-bg: #eeeeee;
  --placeholder-text: #adb5bd;
  --border-gray: #d9d9d9;
  --border-gray-light: #ededed;
  --dark: rgba(0, 0, 0, 0.85);
  --white: #fff;
  --header-height: 68px;

  // Scrollbar
  --scrollbarBG: var(--placeholder-bg);
  --thumbBG: var(--primary);

  font-family: 'Inter', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
input {
  margin: 0 !important;
}

input::placeholder {
  color: var(--placeholder-text) !important;
  font-weight: 300;
}

button {
  box-shadow: none !important;
}

/*! Firefox */
html,
.main-container {
  scrollbar-color: var(--scrollbarBG) var(--thumbBG);
}

/*! Other Browser */
.main-container::-webkit-scrollbar {
  width: 5px;
}
.main-container {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
.main-container::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
.main-container::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
}

// Custom classes
body {
  overflow: hidden;
}

.application-container {
  max-height: 100vh;
  display: flex;
}

.main-container {
  margin-top: var(--header-height);
  width: 100%;
  height: calc(100vh - var(--header-height));
  overflow-y: auto;
  overflow-x: hidden;
}

.page-container {
  padding-top: 28px;
  margin-bottom: 80px;
}

// Import Ant Design
@import '~antd/dist/antd.less';

.ant-image {
  .ant-image-mask-info {
    display: flex !important;
    align-items: center;
  }
}

.ant-space {
  &.ant-space-align-center {
    .ant-space-item {
      margin: 0 auto;
    }  
  }
  .ant-space-item {
    display: contents;
  
    & > span {
      display: flex;
      align-items: center;
    }
  }
}
