.navbar {
  min-height: var(--header-height);
  background-color: var(--secondary) !important;
  padding: 0 1.5em !important;
  font-size: 1.1rem !important;
}

.navbar-brand {
  color: var(--primary) !important;
  padding: 8px 0;
  margin-right: 30px !important;
  height: var(--header-height);
  display: flex;
  align-items: center;
}

.navbar-brand .logo {
  height: 35px;
  min-width: 35px;
  margin-right: 0.4em;
}

.nav-route {
  height: var(--header-height);
  display: flex !important;
  align-items: center;
  border-top: 0.3em solid transparent !important;
  border-bottom: 0.3em solid transparent !important;
  text-transform: uppercase;
  padding: 0.5em 1.2em !important;
}

.nav-route.active {
  border-bottom: 0.3em solid var(--primary) !important;
}

.nav-bar-actions {
  display: flex;
  flex-direction: row-reverse;
}

.nav-link-button {
  font-size: 1.1rem !important;
}

.navbar.xs {
  padding-right: 0.8em !important;
}

.navbar.xs .nav-route {
  border-width: 0.15em !important;
  padding: 0 0.2em !important;
  height: 45px !important;
}

.navbar.xs .nav-bar-actions {
  margin-top: 1em;
}

.collapse {
  width: 100%;
  padding-bottom: 1.5rem;
  transition: all 0.3s;
}
